<h1>Sign Up!</h1>

<form method="POST" action="/signup">
  <p><label>Name</label></p>
    <p><input type="text" name="user[name]"></p>
  <%= erb :'auth/_auth_fields'  %>
  <p><label>Enter password again</label></p>
    <p><input type="password" name="user[password_confirmation]"></p>
  <p><input type="submit"></p>
</form>

</form>
