<h6> <%= erb :'/_get_error' %></h6>
<h1>Edit or Delete Gig</h1>

<form method="POST" action="/gigs/edit">
  <input type="hidden" name="_method" value="PUT">
  <p><label>Gig Name</label></p>
    <p><input type="text" name="name" value=<%= @gig.name %>></p>
  <p><label>Date (MM/DD/YYYY)</label></p>
    <p><input type="text" name="date" value=<%= @gig.date %>></p>
  <p><label>Difficulty</label></p>
    <p><input type="radio" name="difficulty" value="0">Easy</p>
    <p><input type="radio" name="difficulty" value="1">Medium</p>
    <p><input type="radio" name="difficulty" value="2">Hard</p>
  <input type="submit">
<form>

<a href="/gigs/delete/<%= @gig.id %>"><button type="button">DELETE</button></a>