<h6> <%= erb :'/_get_error' %></h6>
<h1>Add New Gig</h1>

<form method="POST" action="/gigs/new">
  <input type="hidden" name="gig[user_id]", value=<%= @user_id %>>
  <p><label>Gig Name</label></p>
    <p><input type="text" name="gig[name]"></p>
  <p><label>Date (MM/DD/YYYY)</label></p>
    <p><input type="text" name="gig[date]"></p>
  <p><label>Difficulty</label></p>
    <p><input type="radio" name="gig[difficulty]" value="0">Easy</p>
    <p><input type="radio" name="gig[difficulty]" value="1">Medium</p>
    <p><input type="radio" name="gig[difficulty]" value="2">Hard</p>
  <p><input type="submit"></p>
</form>
