<h1>Add New Gig</h1>

<form method="POST" action="gigs/#{@user_id}">
  <label>Gig Name</label>

  <label>Date</label>

  <label>Difficulty</label>
  <input type="radio" name="difficulty" value="easy">
  <input type="radio" name="difficulty" value="medium">
  <input type="radio" name="difficulty" value="hard">

</form>
