<h1>Create a new practice schedule</h1>
<form method="POST" action="/practice">
<input type = "text" name = "schedule[practice_hours_per_day]" placeholder = "practice_hours_per_day">
<input type = "text" name "schedule[is_completed]" placeholder = "is_completed" >
<input type= "submit" value ="Create">
</form>
